<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonarx.sonarmeta.mapper.ModelMaterialSettingsMapper">

    <resultMap id="BaseResultMap" type="com.sonarx.sonarmeta.domain.model.ModelMaterialSettingsDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="modelId" column="model_id" jdbcType="BIGINT"/>
            <result property="textures" column="textures" jdbcType="VARCHAR"/>
            <result property="currentPbrWorkflow" column="current_pbr_workflow" jdbcType="INTEGER"/>
            <result property="parameters" column="parameters" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,model_id,textures,
        current_pbr_workflow,parameters
    </sql>
</mapper>
