<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonarx.sonarmeta.mapper.ModelMapper">

    <resultMap id="BaseResultMap" type="com.sonarx.sonarmeta.domain.model.ModelDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="attached" column="attached" jdbcType="VARCHAR"/>
            <result property="pathFolderList" column="path_folder_list" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="grantFlag" column="grant_flag" jdbcType="INTEGER"/>
            <result property="tokenFlag" column="token_flag" jdbcType="INTEGER"/>
            <result property="grantPrice" column="grant_price" jdbcType="DOUBLE"/>
            <result property="tokenPrice" column="token_price" jdbcType="DOUBLE"/>
            <result property="nftTokenId" column="nft_token_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,path,attached,
        path_folder_list,status,title,
        description,cover,tags,
        category,create_time,grant_flag,
        token_flag,grant_price,token_price,
        nft_token_id
    </sql>
</mapper>
