<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonarx.sonarmeta.mapper.SceneMapper">

    <resultMap id="BaseResultMap" type="com.sonarx.sonarmeta.domain.model.SceneDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="purchasePrice" column="purchase_price" jdbcType="BIGINT"/>
            <result property="grantPrice" column="grant_price" jdbcType="BIGINT"/>
            <result property="experiencePrice" column="experience_price" jdbcType="BIGINT"/>
            <result property="nftTokenId" column="nft_token_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,status,title,
        description,cover,tags,
        category,create_time,purchase_price,
        grant_price,experience_price,nft_token_id
    </sql>
</mapper>
